<%if(!!locals.posts && !!locals.posts.length && !!locals.user){%>
    <div class="post-wrapper">
    <h2 class="post-wrapper__heading">Members' posts</h2>
      <%locals.posts.map(({title, content, user_full_name, created_at, post_id }) => {%>
            <article class="post-wrapper__post">
            <span>
                <h3 class="post-wrapper__heading"><%=title%></h3>
                <%if(!!user_full_name){%>
                    <p>created by <b>
                    <%= user_full_name%>
                   </b>
                    </p>
                <%}%>
            </span>
                <p>
                <%=content%>
                </p>

                <%if(!!created_at){%>
                    <p>
                     <%=created_at%>
                    </p>
                <%}%>
                 <%if(!!post_id && !!locals.isAdmin){%>
                    <a href="/<%-post_id%>">
                    Delete post
                    </a>
                 <%}%>
            </article>
        <%})%>
    </div>
<%}else if ((!locals.posts || !locals.posts.length) && !!locals.user){%>
    <div class="index-wrapper">
       <h2 class="heading heading--no-messages">There are currently no messages</h2>
        <a class="link" href="/create-post">Create a post </a>
    </div>
<%} else {%>
 <div class="index-wrapper">
    <h2 class="heading heading--no-messages">In order to see messages you need to be logged in</h2>
    <span class="index-wrapper__link-wrapper">
        <a class="link" href="/sign-in">Sign in</a> or <a class="link" href="/sign-up">Create an account</a>
    </span>
    </div>
<%}%>
<%-include('../partials/errors')%>